{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-props-no-spreading": [1, {"custom": "ignore"}],
    "react/button-has-type": [1, {}]
  },
  "settings": {
    "import/resolver": {
      "node": { "paths": [ "./" ] }
    }
  }
}
